.program-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
}
.program-cards__item {
  width: 166px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}
.item-card {
}
.item-card__icon {
  width: 90px;
  height: 89px;
}
.item-card__title {
  max-width: 80px;
  margin: 24px 0 41px;
}
.item-card__rate {
}
.rate {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.rate__star {
}
.rate__star_empty {
}

@media (max-width: $medium-screen) {
  .program-cards {
    justify-content: space-around;
  }

  .program-cards__item {
    margin: 0 5% 10%;
    flex: 1 1 50%;
    max-width: 168px;
  }
}