.social-links {
  width: 342px;
  margin: 0 auto;
}
.social-links__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 45px;
}
.social-link {
}
.social-links__description {
  @include font($size: 14, $height: 17);
  color: $color-gray;
}
@media (max-width: $medium-screen) {
  .social-links__items {
    margin-bottom: 25px;
  }
}