.works {
  text-align: center;
}
.works__item {
  &:not(:last-child) {
    margin-bottom: 100px;
  }
}
.item-work {
}
.item-work__img {
  margin-bottom: 45px;
}
.item-work__link {
  text-decoration: underline;
  transition: color 0.5s ease;
  &:hover {
    color: red;
  }
}