h1 {
  @include font($size: 48, $height: 60, $weight: 700);
  margin-bottom: -10px;
}

h2 {
  @include font($size: 34, $height: 42, $weight: 700);
}

h3 {
  @include font($size: 14, $height: 17, $weight: 700);
  color: $color-gray;
}

@media (max-width: $medium-x-screen) {
  h1 {
    @include font($size: 28, $height: 35, $weight: 700);
  }

  h2 {
    @include font($size: 28, $height: 35, $weight: 700);
  }
  
  h3 {
    @include font($size: 14, $height: 17, $weight: 700);
    color: $color-gray;
  }
}
