.page__home {
  padding-top: 88px;
  padding-bottom: 104px;
}
.home {
}
.home__container {
}
.home__text {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 40px;
  padding-bottom: 50px;
}
.author-name {
  max-width: 123px;
  margin-bottom: -10px;
}
.author-description {
}
.home__photo {
}
