.page__home {
  padding-top: 88px;
  padding-bottom: 104px;
}
.home {
}
.home__container {
}
.home__text {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 40px;
  padding-bottom: 50px;
}
.author-name {
  max-width: 123px;
}
.author-description {
}
.home__photo {
}

@media (max-width: $medium-screen) {
  .page__home {
    padding-bottom: 60px;
  }
}