.nav {
}
.nav__links {
  display: flex;
  justify-content: space-between;
  flex: 1 0 auto;
}
.nav__item {
  color: $color-gray;
  font-weight: 700;
  &_active {
    color: $color-black;
  }
  &:hover {
    text-decoration: underline;
  }
}
.nav__hamburger {
}
.hamburger {
  display: none;
  cursor: pointer;
  z-index: 51;
}
.hamburger__bar {
  display: block;
  width: 33px;
  height: 4px;
  margin: 4px auto;
  transition: all 0.3s ease-in-out;
  background-color: $color-black;
}
.nav__lang-switch {
  display: none;
}

@media (max-width: $medium-x-screen) {
  .nav {
    display: flex;
    justify-content: flex-end;
  }
  .nav__links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 25px 40px;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 200vw;
    background-color: #fff;
    @include font($size: 28, $height: 28);
    transition: left 0.5s ease-in-out;
    &_active {
      left: 0vw;
    }
    .nav__item {
      &:not(:last-child) {
        margin-bottom: 70px;
      }
    }
  }
  .hamburger {
    display: block;
    &_active {
      .hamburger__bar:nth-child(2) {
        opacity: 0;
      }
      .hamburger__bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
      }
      .hamburger__bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
      }
    }
  }
}
