.page__skills {
  padding: 91px 0 110px;
}
.skills {
}
.skills__container {
}
.section-title {
}
.skills__content {
}
.section-description {
}
.skills__description {
  margin: 69px 0 83px;
}
@media (max-width: $medium-screen) {
  .page__skills {
    padding: 60px 40px;
  }
}