// SIZES & BREAKPOINTS
$containerWidth: 945px;
$large-screen: 1200px;
$medium-screen: 875px;
$medium-x-screen: 670px;
$small-screen: 375px;

// COLOR
$color-black: #070707;
$color-gray: #828282;
$color-white: #fff;
$color-light-gray: #f6f6f6;